<h1>Listing navigation_items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Parent navigation item</th>
      <th>Page</th>
      <th>Title</th>
      <th>Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @navigation_items.each do |navigation_item| %>
      <tr>
        <td><%= navigation_title(navigation_item.navigation_item) %></td>
        <td><%= navigation_title(navigation_item.page) %></td>
        <td><%= navigation_title(navigation_item) %></td>
        <td><%= navigation_item.link %></td>
        <td><%= link_to 'Show', [:admin, navigation_item] %></td>
        <td><%= link_to 'Edit', edit_admin_navigation_item_path(navigation_item) %></td>
        <td><%= link_to 'Destroy', [:admin, navigation_item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Navigation item', new_admin_navigation_item_path %>
